<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_aside_info' %>

<%
=begin
%>
    <div class="row">
      <section class="user_info col-md-12">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </div>
    <div class="row">
      <section class="user_links">
        <div class="center col-md-4 col-xs-4">
          <%= link_to user_path do %>
            <div>Micropostes</div>
            <div><%= @user.microposts.count %></div>
          <% end %>
        </div>
        <div class="center col-md-4 col-xs-4">

            <div>Followings</div>
            <div><%= @user.following_users.count %></div>

        </div>
        <div class="center col-md-4 col-xs-4">
          <%= link_to followers_user_path do %>
            <div>Followers</div>
            <div><%= @user.follower_users.count %></div>
          <% end %>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="user_profile">
        <div class="col-md-12">
          <%= @user.profile %>
        </div>
      </section>
    </div>

<%
=end
%>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.following_users.any? %>
      <h3>Followings (<%= @user.following_users.count %>)</h3>
      <ol class="followings">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>